extends layout

block content

  div(id='alphabetic_names')
    h2 View Names Beginning with...
    ul
      each letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('')
        li
          a(href='/alphabetic/' + letter) #{letter}


  div(id='random_names')
    h2 Random Names
    ul
      each name in names
        li 
          a(href='/name/'+name.name) #{name.name}


