extends layout

block content
  h1 Bible Name Database
  


  div(id='random_names')
    h2 Random Names
    ul
      each name in names
        li 
          a(href='/name/'+name.name) #{name.name}

  div(id='alphabetic_names')
    h2 Names beginning with...
    ul
      each letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('')
        li
          a(href='/alphabetic/' + letter) #{letter}

